@media (max-width: 1100px) {
  .carousel-item {
    max-width: 92rem;
  }
}

@media (max-width: 1000px) {
  /* home page */
  .margin-bottom {
    margin-bottom: 2rem;
  }
  .section-posts {
    display: block;
  }
  .blog-post {
    display: inline-block;
    margin-bottom: 4rem;
  }
  .about-me {
    display: grid;
    grid-template-columns: 40fr 60fr;
    gap: 1rem;
  }

  .about-me img {
    max-width: 100%;
    max-height: 40rem;
    object-fit: cover;
    margin: 0 auto;
  }

  /* section carousel */

  .btn-arrow {
    display: none;
  }
  .carousel {
    transform: none;
  }
  .carousel,
  .carousel-item {
    display: block;
    max-width: 100%;
  }

  .carousel-item {
    margin: 0;
    margin-bottom: 4rem;
    max-width: 100%;
  }
  .carousel-item img {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .carousel-text {
    padding: 2rem;
  }

  .section-cta .form {
    max-width: 80%;
  }
  /* Blogpost specific page */
  .section-blogpost .form-input-container {
    display: block;
  }
  .section-blogpost .form-input-container input {
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  /* mobile nav */
  .btn-mobile-nav {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 46px;
    left: 0;
    background-color: #e8d6cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    transition: all 0.5s ease-in;

    width: 100%;
    height: 90vh;

    transform: translateX(100%);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .navigation-link {
    font-size: 2.6rem;
  }

  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav.fa-xmark {
    display: block;
  }

  .nav-open .icon-mobile-nav.fa-bars {
    display: none;
  }
  .section-hero {
    display: block;
  }

  /* about me */
  .about-me {
    display: block;
    text-align: center;
  }
  .about-me p {
    display: none;
  }
  .about-me .btn-secondary {
    margin-top: 6rem;
  }

  /* footer */
  .footer-links {
    display: flex;
    flex-direction: column;
  }

  /* contact page */
  .section-contact {
    display: block;
  }
  .contact-img,
  .section-hero img {
    height: 60rem;
    object-fit: cover;
  }

  /* about page */
  .section-about .grid {
    display: block;
  }
  .section-about img {
    width: 100%;
  }

  /* blog page */

  .section-blog .blog-post:first-child {
    display: block;
  }
  .section-blog .blog-post:first-child img {
    height: auto;
  }
}
@media (max-width: 700px) {
  .section-posts .blog-post img {
    float: none;
    padding: 0;
    width: 100%;
  }

  .form-input-container,
  .section-comment .form-text {
    display: block;
  }
  .form-input-container input,
  .section-comment .form-text input {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  /* general */
  .margin-bottom {
    margin-bottom: 2rem;
  }

  .section {
    padding: 2rem;
  }

  .grid {
    display: block;
  }

  /* home page */
  .navigation-container {
    justify-content: space-between;
  }

  .form {
    max-width: 100%;
    padding: 2rem;
  }

  /* blogpost-specific page */
  .section-comment .form {
    max-width: 100%;
  }

  .section-comment .form-container {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .grid-auto {
    display: block;
  }
  html {
    font-size: 56%;
  }
}
